node-red/flows.json
[{"id":"f6ec6144.05613","type":"tab","label":"Closet Door","disabled":false,"info":""},{"id":"8cc490d5.e4a96","type":"tab","label":"Motion Lights","disabled":false,"info":""},{"id":"6e42d565.7c570c","type":"tab","label":"Room Volume","disabled":false,"info":""},{"id":"cfefceb4.3c31f","type":"tab","label":"Cube","disabled":false,"info":""},{"id":"8d8ffd59.5336d","type":"tab","label":"Hue Dimmer Switches","disabled":false,"info":""},{"id":"fb71141e.d0c5e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cbf9462.adb92c","type":"server","name":"Home Assistant","addon":true},{"id":"9b591ff9.0edb7","type":"trigger-state","z":"f6ec6144.05613","name":"Closet Door State","server":"3cbf9462.adb92c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.master_closet_door_ias_zone","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":119,"wires":[["f5e86a33.8905c8"],[]]},{"id":"f87da482.4d9fd8","type":"api-call-service","z":"f6ec6144.05613","name":"Closet Light Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.closet_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":139,"wires":[[]]},{"id":"f5e86a33.8905c8","type":"switch","z":"f6ec6144.05613","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":119,"wires":[["bad1a633.de8318"],["f87da482.4d9fd8"]]},{"id":"bad1a633.de8318","type":"api-call-service","z":"f6ec6144.05613","name":"Closet Light On","server":"3cbf9462.adb92c","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.closet_light","data":"{\"brightness\":255,\"white_value\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":79,"wires":[[]]},{"id":"a14bf66f.fff758","type":"server-state-changed","z":"8cc490d5.e4a96","d":true,"name":"Kitchen Motion Detected","server":"3cbf9462.adb92c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":60,"wires":[["5db6eab.bb9c014"],[]]},{"id":"f4ad877a.5bcc28","type":"api-current-state","z":"8cc490d5.e4a96","name":"Kitchen Lights Off","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":40,"wires":[["67a06346.515aac"],[]]},{"id":"c9f4523b.b7dbe","type":"api-current-state","z":"8cc490d5.e4a96","name":"Motion Triggered Lights","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_motion_triggered_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":100,"wires":[["67a06346.515aac"],[]]},{"id":"67a06346.515aac","type":"api-call-service","z":"8cc490d5.e4a96","name":"Turn On Kitchen Lights","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":80,"wires":[["bfa32c97.888d1"]]},{"id":"bfa32c97.888d1","type":"api-call-service","z":"8cc490d5.e4a96","name":"Turn on boolean helper","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.kitchen_motion_triggered_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":190,"y":180,"wires":[["cb44b63e.2319c8","fc049882.896a98"]]},{"id":"671bdb06.e68034","type":"ha-wait-until","z":"8cc490d5.e4a96","name":"Wait 60 Seconds For Motion","server":"3cbf9462.adb92c","outputs":2,"entityId":"binary_sensor.kitchen_motion_sensor_ias_zone","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":180,"y":300,"wires":[["c9f4523b.b7dbe","f4ad877a.5bcc28"],["bb43cc1.537823"]]},{"id":"bb43cc1.537823","type":"api-current-state","z":"8cc490d5.e4a96","name":"Motion Triggered Lights","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_motion_triggered_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":300,"wires":[["14bcadcd.1900e2"],[]]},{"id":"14bcadcd.1900e2","type":"api-call-service","z":"8cc490d5.e4a96","name":"Turn Off Kitchen Lights","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":300,"wires":[[]]},{"id":"3288933b.a99b4c","type":"trigger-state","z":"6e42d565.7c570c","d":true,"name":"Spotify Playing on Snapcast","server":"3cbf9462.adb92c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"media_player.spotify","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Snapcast","propertyValue":"new_state.attributes.source"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":120,"wires":[["d7edb61e.f644a8"],[]]},{"id":"d7edb61e.f644a8","type":"delay","z":"6e42d565.7c570c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":180,"wires":[["acbff516.f68df8"]]},{"id":"c5a03a8.6722dc8","type":"api-call-service","z":"6e42d565.7c570c","name":"Master Group Volume 0.50","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.snapcast_group_master","data":"{\"volume_level\":0.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":340,"wires":[["3288933b.a99b4c"]]},{"id":"acbff516.f68df8","type":"api-current-state","z":"6e42d565.7c570c","name":"Master Motion On","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"On","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.master_motion_sensor_ias_zone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":240,"wires":[["fa423ea1.a2bb8"],["cd6847a4.ea9ed8"]]},{"id":"cd6847a4.ea9ed8","type":"api-current-state","z":"6e42d565.7c570c","name":"Room Presence Master","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"raspberrypi-master","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"sensor.kevin_s_galaxy_note10_room_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":260,"wires":[["fa423ea1.a2bb8"],["44cedf35.18e67"]]},{"id":"fa423ea1.a2bb8","type":"api-current-state","z":"6e42d565.7c570c","name":"Snapcast Group Master","server":"3cbf9462.adb92c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.snapcast_group_master","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":340,"wires":[["ff8efeef.bdb"]]},{"id":"ff8efeef.bdb","type":"switch","z":"6e42d565.7c570c","name":"Volume <= 0.50","property":"payload.attributes.volume_level","propertyType":"msg","rules":[{"t":"lte","v":"0.50","vt":"str"},{"t":"gt","v":"0.50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":340,"wires":[["c5a03a8.6722dc8"],["3288933b.a99b4c"]]},{"id":"5c704ee0.d63b5","type":"api-call-service","z":"6e42d565.7c570c","name":"Master Group Volume 0.20","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.snapcast_group_master","data":"{\"volume_level\":0.2}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":540,"wires":[["3288933b.a99b4c"]]},{"id":"9c9b9c88.617fd","type":"api-current-state","z":"6e42d565.7c570c","name":"Snapcast Group Master","server":"3cbf9462.adb92c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.snapcast_group_master","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":540,"wires":[["82e4d484.9be888"]]},{"id":"82e4d484.9be888","type":"switch","z":"6e42d565.7c570c","name":"Volume <= 0.20","property":"payload.attributes.volume_level","propertyType":"msg","rules":[{"t":"lte","v":"0.20","vt":"str"},{"t":"gt","v":"0.20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":540,"wires":[["5c704ee0.d63b5"],[]]},{"id":"44cedf35.18e67","type":"api-current-state","z":"6e42d565.7c570c","name":"Office Motion On","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"On","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.office_motion_sensor_ias_zone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":460,"wires":[["9c9b9c88.617fd"],["60a0a76e.fa5cd8"]]},{"id":"60a0a76e.fa5cd8","type":"api-current-state","z":"6e42d565.7c570c","name":"Kitchen Motion On","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.kitchen_motion_sensor_ias_zone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":480,"wires":[["9c9b9c88.617fd"],[]]},{"id":"5db6eab.bb9c014","type":"api-current-state","z":"8cc490d5.e4a96","name":"Away off","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.away","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":60,"wires":[["f4ad877a.5bcc28","c9f4523b.b7dbe"],[]]},{"id":"cb44b63e.2319c8","type":"ha-wait-until","z":"8cc490d5.e4a96","name":"Kitchen Motion Undetected","server":"3cbf9462.adb92c","outputs":1,"entityId":"binary_sensor.kitchen_motion_sensor_ias_zone","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":520,"y":220,"wires":[["3895000b.5ae87"]]},{"id":"3895000b.5ae87","type":"api-current-state","z":"8cc490d5.e4a96","name":"Motion Triggered Lights","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_motion_triggered_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":220,"wires":[["671bdb06.e68034"],[]]},{"id":"fc049882.896a98","type":"ha-wait-until","z":"8cc490d5.e4a96","name":"Away Turned On","server":"3cbf9462.adb92c","outputs":1,"entityId":"switch.away","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":530,"y":160,"wires":[[]]},{"id":"d801fb37.54e188","type":"server-events","z":"cfefceb4.3c31f","name":"ZHA Event","server":"3cbf9462.adb92c","event_type":"zha_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":241,"wires":[["28db52d1.33ec6e"]]},{"id":"28db52d1.33ec6e","type":"switch","z":"cfefceb4.3c31f","name":"Is Cube","property":"payload.event.device_id","propertyType":"msg","rules":[{"t":"eq","v":"b348d219736f837228a017b970291cda","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":301,"wires":[["814b3038.c47c4"]]},{"id":"c4d648c0.6d12e8","type":"switch","z":"cfefceb4.3c31f","name":"Command","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"drop","vt":"str"},{"t":"eq","v":"flip","vt":"str"},{"t":"eq","v":"knock","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"slide","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":610,"y":261,"wires":[[],["8155c8bd.3cab48"],["d86069a1.9a8ef8"],["2da591c9.523a4e"],["2da591c9.523a4e"],[],[]]},{"id":"529e9b67.39b864","type":"api-current-state","z":"cfefceb4.3c31f","name":"Theater Playing or Paused","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.theater_playing_or_paused","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":280,"y":441,"wires":[[],[]]},{"id":"814b3038.c47c4","type":"api-current-state","z":"cfefceb4.3c31f","name":"Spotify Playing or Paused","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"playing,paused","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.spotify","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":210,"y":361,"wires":[["ee75b760.e65278"],["529e9b67.39b864"]]},{"id":"2da591c9.523a4e","type":"api-call-service","z":"cfefceb4.3c31f","name":"Set Volume","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.spotify","data":"{\"volume_level\": $max([0, $min([1, $round($floor(payload.event.args.relative_degrees) / 6 * 0.01 + spotify.attributes.volume_level, 2)])])}\t","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":261,"wires":[["9ac54cd0.ce5ba"]]},{"id":"ee75b760.e65278","type":"api-current-state","z":"cfefceb4.3c31f","name":"Get Spotify","server":"3cbf9462.adb92c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.spotify","state_type":"str","state_location":"","override_payload":"none","entity_location":"spotify","override_data":"msg","blockInputOverrides":false,"x":410,"y":261,"wires":[["c4d648c0.6d12e8","8f0ba7a1.f94b98"]]},{"id":"9ac54cd0.ce5ba","type":"debug","z":"cfefceb4.3c31f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$max([0, $min([1, $round($floor(payload.event.args.relative_degrees) / 6 * 0.01 + spotify.attributes.volume_level, 2)])])\t","targetType":"jsonata","statusVal":"","statusType":"auto","x":1000,"y":261,"wires":[]},{"id":"8f0ba7a1.f94b98","type":"debug","z":"cfefceb4.3c31f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.args","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":41,"wires":[]},{"id":"28f9876f.62e398","type":"api-call-service","z":"cfefceb4.3c31f","name":"Previous Track","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":160,"wires":[["2b28aa74.da9e06"]]},{"id":"2b28aa74.da9e06","type":"api-call-service","z":"cfefceb4.3c31f","name":"Previous Track","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":160,"wires":[[]]},{"id":"24b57556.20fa3a","type":"api-call-service","z":"cfefceb4.3c31f","name":"Next Track","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":380,"wires":[[]]},{"id":"4a1aafea.6db6f","type":"switch","z":"cfefceb4.3c31f","name":"Spotify Playing","property":"spotify.state","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"neq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":320,"wires":[["63353eb0.1682f"],["7cb87e71.73dbc"]]},{"id":"63353eb0.1682f","type":"switch","z":"cfefceb4.3c31f","name":"Source is Snapcast","property":"spotify.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"Snapcast","vt":"str"},{"t":"neq","v":"Snapcast","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":320,"wires":[["13da95e5.a907ba"],["7cb87e71.73dbc"]]},{"id":"7cb87e71.73dbc","type":"api-call-service","z":"cfefceb4.3c31f","name":"Spotcast Start Snapcast","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"spotcast","service":"start","entityId":"","data":"{\"device_name\": \"Snapcast\", \"force_playback\": true }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":360,"wires":[[]]},{"id":"13da95e5.a907ba","type":"api-call-service","z":"cfefceb4.3c31f","name":"Snapcast Pause","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":320,"wires":[[]]},{"id":"5d8f42f3.fd075c","type":"api-call-service","z":"cfefceb4.3c31f","name":"Snapcast Play","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":420,"wires":[[]]},{"id":"d86069a1.9a8ef8","type":"api-call-service","z":"cfefceb4.3c31f","name":"Snapcast Play/Pause","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":201,"wires":[[]]},{"id":"8155c8bd.3cab48","type":"switch","z":"cfefceb4.3c31f","name":"Flip Degrees","property":"payload.event.args.flip_degrees","propertyType":"msg","rules":[{"t":"eq","v":"90","vt":"num"},{"t":"eq","v":"180","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":141,"wires":[["bf17c2cf.f49ed"],["28f9876f.62e398"]]},{"id":"5d5905bc.38f13c","type":"server-events","z":"8d8ffd59.5336d","name":"Hue Event","server":"3cbf9462.adb92c","event_type":"hue_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":340,"wires":[["dcbe8c52.64fa8"]]},{"id":"dcbe8c52.64fa8","type":"switch","z":"8d8ffd59.5336d","name":"Event ID","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"office_switch","vt":"str"},{"t":"eq","v":"kitchen_switch","vt":"str"},{"t":"eq","v":"theater_switch","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":160,"y":420,"wires":[["25fc3025.a2456","528d28b3.196a58"],["d5f71fd9.40d1b"],["bc864a06.855f78"]]},{"id":"25fc3025.a2456","type":"debug","z":"8d8ffd59.5336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.event","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"528d28b3.196a58","type":"switch","z":"8d8ffd59.5336d","name":"Press Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"str"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"num"},{"t":"eq","v":"3002","vt":"num"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4002","vt":"num"},{"t":"eq","v":"1003","vt":"num"},{"t":"eq","v":"2003","vt":"num"},{"t":"eq","v":"3003","vt":"num"},{"t":"eq","v":"4003","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":350,"y":300,"wires":[["f72ca52f.bb08e8"],["f72ca52f.bb08e8"],["f7a5abc8.7db7e8"],["4a77686.eef1b98"],["e8ba5b0c.d82918"],["e8ba5b0c.d82918"],["5692c572.d248ac"],["18c72a96.92b155"],["a0a48365.4b19a"],["ef58d9f1.5082f8"]]},{"id":"f72ca52f.bb08e8","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office Light On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":20,"wires":[["d5f9f83f.2d65f8"]]},{"id":"e8ba5b0c.d82918","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office Light Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":260,"wires":[[]]},{"id":"f7a5abc8.7db7e8","type":"api-current-state","z":"8d8ffd59.5336d","name":"Office Lamp","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_lamp","state_type":"str","state_location":"","override_payload":"none","entity_location":"office_lamp","override_data":"msg","blockInputOverrides":false,"x":570,"y":100,"wires":[["c2b0ea57.f01d78"],["ee69e554.9ecc28"]]},{"id":"14a49da3.c57172","type":"api-call-service","z":"8d8ffd59.5336d","name":"Master Closet Back On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":260,"wires":[[]]},{"id":"d5f9f83f.2d65f8","type":"api-call-service","z":"8d8ffd59.5336d","name":"Master Closet Back Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":320,"wires":[[]]},{"id":"c2b0ea57.f01d78","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office Brightness Up","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"{\"brightness\": $min([255, msg.office_lamp.attributes.brightness + 32]) }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":80,"wires":[["d5f9f83f.2d65f8"]]},{"id":"8cba2eaa.f595e","type":"debug","z":"8d8ffd59.5336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"max([0, msg.office_lamp.attributes.brightness - 32])","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":380,"wires":[]},{"id":"e3e8743c.a44478","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office Brightness Down","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"{\"brightness\": $max([0, msg.office_lamp.attributes.brightness - 32]) }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":160,"wires":[["d5f9f83f.2d65f8"]]},{"id":"4a77686.eef1b98","type":"api-current-state","z":"8d8ffd59.5336d","name":"Office Lamp","server":"3cbf9462.adb92c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_lamp","state_type":"str","state_location":"","override_payload":"none","entity_location":"office_lamp","override_data":"msg","blockInputOverrides":false,"x":570,"y":180,"wires":[["e3e8743c.a44478"],["4d58b0dd.54188"]]},{"id":"ee69e554.9ecc28","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office On Bright","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"{\"brightness\": 255 }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":120,"wires":[["d5f9f83f.2d65f8"]]},{"id":"4d58b0dd.54188","type":"api-call-service","z":"8d8ffd59.5336d","name":"Office On Dim","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"{\"brightness\": 64}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":200,"wires":[["d5f9f83f.2d65f8"]]},{"id":"5692c572.d248ac","type":"api-call-service","z":"8d8ffd59.5336d","name":"Fountain On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fountain","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":320,"wires":[[]]},{"id":"ef58d9f1.5082f8","type":"api-call-service","z":"8d8ffd59.5336d","name":"Fountain Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fountain","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":440,"wires":[[]]},{"id":"18c72a96.92b155","type":"api-call-service","z":"8d8ffd59.5336d","name":"Firestone On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.firestone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":360,"wires":[[]]},{"id":"a0a48365.4b19a","type":"api-call-service","z":"8d8ffd59.5336d","name":"Firestone Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.firestone","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":400,"wires":[[]]},{"id":"d5f71fd9.40d1b","type":"switch","z":"8d8ffd59.5336d","name":"Press Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"str"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"num"},{"t":"eq","v":"3002","vt":"num"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4002","vt":"num"},{"t":"eq","v":"1003","vt":"num"},{"t":"eq","v":"2003","vt":"num"},{"t":"eq","v":"3003","vt":"num"},{"t":"eq","v":"4003","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":330,"y":660,"wires":[["e0127d53.0ab8b"],["e0127d53.0ab8b"],["5babf875.a3c0e8"],["5babf875.a3c0e8"],["60234e14.a6347"],["60234e14.a6347"],[],[],[],[]]},{"id":"e0127d53.0ab8b","type":"api-call-service","z":"8d8ffd59.5336d","name":"TOS Intercom","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"script","service":"browser_sound_effect","entityId":"","data":"{\"sound_effect_length\":\"00:00:02\",\"sound_effect_filename\":\"tos-intercom.mp3\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":580,"wires":[["4848bc30.d3c114"]]},{"id":"60234e14.a6347","type":"api-call-service","z":"8d8ffd59.5336d","name":"Lonely Hello","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"script","service":"browser_sound_effect","entityId":"","data":"{\"sound_effect_length\":\"00:00:02\",\"sound_effect_filename\":\"lonely-hello.mp3\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":700,"wires":[["4848bc30.d3c114"]]},{"id":"4848bc30.d3c114","type":"api-call-service","z":"8d8ffd59.5336d","name":"Master Closet Back Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":820,"wires":[[]]},{"id":"5babf875.a3c0e8","type":"api-call-service","z":"8d8ffd59.5336d","name":"Toggle Home Lights","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.home","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":640,"wires":[["41bb1160.073a"]]},{"id":"41bb1160.073a","type":"delay","z":"8d8ffd59.5336d","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":640,"wires":[["42452faa.8e12"]]},{"id":"42452faa.8e12","type":"api-call-service","z":"8d8ffd59.5336d","name":"Toggle Home Lights","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.home","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":640,"wires":[["4848bc30.d3c114"]]},{"id":"bc864a06.855f78","type":"switch","z":"8d8ffd59.5336d","name":"Press Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"str"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"num"},{"t":"eq","v":"3002","vt":"num"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4002","vt":"num"},{"t":"eq","v":"1003","vt":"num"},{"t":"eq","v":"2003","vt":"num"},{"t":"eq","v":"3003","vt":"num"},{"t":"eq","v":"4003","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":330,"y":1020,"wires":[["641144d7.8e658c"],["641144d7.8e658c"],["115cd41d.f3cdec"],["4a35ec9.21f5b14"],["ef97b9d3.921d88"],["ef97b9d3.921d88"],["7e81a5b1.319acc"],["3ea7f9d.47cbf06"],["fb22736a.968c9"],["4d80fc40.d4f174"]]},{"id":"641144d7.8e658c","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.sync_box","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":840,"wires":[["f35da38a.554a1"]]},{"id":"ef97b9d3.921d88","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.sync_box","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1020,"wires":[["f35da38a.554a1"]]},{"id":"115cd41d.f3cdec","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Brightness Up","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.sync_box","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":900,"wires":[["f35da38a.554a1"]]},{"id":"4a35ec9.21f5b14","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Brightness Down","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.sync_box","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":960,"wires":[["f35da38a.554a1"]]},{"id":"f35da38a.554a1","type":"api-call-service","z":"8d8ffd59.5336d","name":"Master Closet Back Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_closet","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":1040,"wires":[[]]},{"id":"7e81a5b1.319acc","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Background Lighting On","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips AV Switch\",\"command\":\"BackgroundLightingOn\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1080,"wires":[["f35da38a.554a1"]]},{"id":"4d80fc40.d4f174","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Background Lighting Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips AV Switch\",\"command\":\"BackgroundLightingOff\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1260,"wires":[["f35da38a.554a1"]]},{"id":"3ea7f9d.47cbf06","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Intensity Up","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips AV Switch\",\"command\":\"IntensityUp\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1140,"wires":[["f35da38a.554a1"]]},{"id":"fb22736a.968c9","type":"api-call-service","z":"8d8ffd59.5336d","name":"Hue Sync Intensity Down","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"remote","service":"send_command","entityId":"remote.harmony_hub","data":"{\"device\":\"Philips AV Switch\",\"command\":\"IntensityDown\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1200,"wires":[["f35da38a.554a1"]]},{"id":"3ba76128.0a3a6e","type":"trigger-state","z":"f6ec6144.05613","name":"Pantry Door State","server":"3cbf9462.adb92c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.pantry_door_ias_zone","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":260,"wires":[["f7a284ad.e14408"],[]]},{"id":"9ae9c647.621d18","type":"api-call-service","z":"f6ec6144.05613","name":"Pantry Light Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.pantry_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":280,"wires":[[]]},{"id":"f7a284ad.e14408","type":"switch","z":"f6ec6144.05613","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":260,"wires":[["6c9a4804.35de98"],["9ae9c647.621d18"]]},{"id":"6c9a4804.35de98","type":"api-call-service","z":"f6ec6144.05613","name":"Pantry Light On","server":"3cbf9462.adb92c","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.pantry_strip","data":"{\"brightness\":255,\"hs_color\": [30, 100]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[[]]},{"id":"561373ce.292f9c","type":"trigger-state","z":"f6ec6144.05613","name":"Laundry Door State","server":"3cbf9462.adb92c","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.laundry_door_ias_zone","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":400,"wires":[["9db88e03.763f6"],[]]},{"id":"ca22481a.d535b8","type":"api-call-service","z":"f6ec6144.05613","name":"Laundry Light Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.laundry_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":420,"wires":[[]]},{"id":"9db88e03.763f6","type":"switch","z":"f6ec6144.05613","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":400,"wires":[["c207172b.79ee98"],["ca22481a.d535b8"]]},{"id":"c207172b.79ee98","type":"api-call-service","z":"f6ec6144.05613","name":"Laundry Light On","server":"3cbf9462.adb92c","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.laundry_light","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":360,"wires":[[]]},{"id":"908d6d19.25257","type":"switch","z":"cfefceb4.3c31f","name":"Activated Face","property":"payload.event.args.activated_face","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":1440,"y":60,"wires":[[],[],[],[],[],[]]},{"id":"bf17c2cf.f49ed","type":"api-call-service","z":"cfefceb4.3c31f","name":"Next Track","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.spotify","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":100,"wires":[[]]},{"id":"f58c7f79.69b2f","type":"api-call-service","z":"cfefceb4.3c31f","name":"Toggle Shuffle","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"shuffle_set","entityId":"media_player.spotify","data":"{\t   \"shuffle\": $not(spotify.attributes.shuffle)\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":321,"wires":[[]]},{"id":"c57e816.a3e888","type":"api-call-service","z":"cfefceb4.3c31f","name":"Repeat All","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"repeat_set","entityId":"media_player.spotify","data":"{\t   \"repeat\": \"all\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":441,"wires":[[]]},{"id":"18fbeca8.088dc3","type":"switch","z":"cfefceb4.3c31f","name":"","property":"spotify.attributes.repeat","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"all","vt":"str"},{"t":"eq","v":"one","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":820,"y":461,"wires":[["c57e816.a3e888"],["2ecdf85c.eebe08"],["71720205.a245bc"]]},{"id":"2ecdf85c.eebe08","type":"api-call-service","z":"cfefceb4.3c31f","name":"Repeat One","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"repeat_set","entityId":"media_player.spotify","data":"{\t   \"repeat\": \"one\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":481,"wires":[[]]},{"id":"71720205.a245bc","type":"api-call-service","z":"cfefceb4.3c31f","name":"Repeat Off","server":"3cbf9462.adb92c","version":1,"debugenabled":false,"service_domain":"media_player","service":"repeat_set","entityId":"media_player.spotify","data":"{\t   \"repeat\": \"off\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":521,"wires":[[]]}]
